@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: 'Silkscreen';
}

/* latin-ext */
@font-face {
  font-family: 'Silkscreen';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/silkscreen/v1/m8JXjfVPf62XiF7kO-i9YL1la0GA1dOkDw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Silkscreen';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/silkscreen/v1/m8JXjfVPf62XiF7kO-i9YLNla0GA1dM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  background-color: rgb(45, 45, 45);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* fade in as website opens */
@keyframes fadeInUp {
  0%{
  opacity: 0;
  }
  100%{ 
      opacity: 1;
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blinking {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.gengamask {
  overflow: hidden;
  border-right: .1em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .1em;
  animation: 
    typing 5s steps(20, end),
    blinking 0.5s step-end infinite;
}

.navi a {
  transition: 1s;
}

.navi a:hover {
  font-size: 1.3em;
  transition: 1s;
  cursor: pointer;
}

.navi a::after {
  transition: 1s;
}

.thisLogo {
  border-radius: 50%;
}

.title {
  height: 70vh;
}

#workContainer {
  min-height: 100vh;
  max-width: 80%;
}

#cfb:hover {
  box-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
  cursor: pointer;
}

#drive:hover {
  box-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
  cursor: pointer;
}

#card {
  background-color: rgb(45, 45, 45);
  color: white;
}